<% include ../partials/header %>
<h1>All the Zoos</h1>
  <% zoos.forEach(function(zoo){ %>
    <p>
      <a href="/zoos/<%= zoo._id%>"><%= zoo.name%> <%= zoo.location%></a>
    </p>
  <% })%>
  <a href="/zoos/new">Add a new zoo!</a>

<% include ../partials/footer %>