<% include ../partials/header %>
<h1>It's a new animal's house</h1>
    <p>

      <form action="/zoos/<%= zoo.id %>/animals" method="POST">
      <div>
         <label for="animal[name]">Name:
         <input autofocus type="text" name="animal[name]"></label>
         <label for="animal[species]">Species:
         <input autofocus type="text" name="animal[species]"></label>
        <label for="animal[age]">Age:
         <input autofocus type="text" name="animal[age]">
         </label>
        <label for="animal[photo]">Photo (URL): <input type="text" name="animal[photo]" ></label>
       </div>
       <div>
         <input type="submit" value="Add animal">
       </div>
      </form>
    </p>

<% include ../partials/footer %>