<% include ../partials/header %>
<h1>It's a new animal's house</h1>
    <p>

      <form action="/zoos/<%= zoo.id %>/animals" method="POST">
      <div>
         <label for="name">Name:
         <input autofocus type="text" name="name"></label>
         <label for="species">Species:
         <input autofocus type="text" name="species"></label>
        <label for="age">Age:
         <input autofocus type="text" name="age">
         </label>
        <label for="photo">Photo (URL): <input type="text" name="photo" ></label>
       </div>
       <div>
         <input type="submit" value="Add animal">
       </div>
      </form>
    </p>

<% include ../partials/footer %>